<div class="container">
  <h1 class="hero-banner-header" style="text-align: center;">All Events</h1>
  <div style="width:100%!important; text-align:center;" class="create-event">
  <a href="/events/new">Create Event</a>
  </div>
  <div class="e-index-cards">
    {{#each events}}
    <a href="/events/show/{{this._id}}">
      <div class="card index-card">
        <div class="e-index-card-img">
        </div>
        <div class="e-index-card-content">
          <h1 class="index-card-header">{{this.name}}</h1>
          <p>{{this.details}}</p>
          <p>{{this.time}}</p>
        </div>
      </div>
    {{/each}}
    </a>
  </div>
</div>
