<div class="container form">

    <form action="/events/new" method="POST">

        <h1 class="heading">New Event</h1>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" name="name" type="text" placeholder="Event Name">
                    </div>
                </div>
            </div>
        </div>


        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" name="details" placeholder="Event Details"></textarea>
                    </div>
                </div>
            </div>
        </div>


        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" name="address" type="text" placeholder="Address">
                    </div>
                </div>
            </div>
        </div>


        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input" name="city" type="text" placeholder="City">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                        <input class="input" name="postCode" type="text" placeholder="Post Code">
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input" name="date" type="date">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                        <input class="input" name="time" type="time">
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" name="photo" type="text" placeholder="Photo (URL)">
                    </div>
                </div>
            </div>
        </div>


        <div class="select">
            <select name="group">
                {{#each groups}}
                    <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>


        <div style="margin-top:10px;" class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-danger">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
