<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 style="color: white;" class="white-text">Story Board</h5>
                <p style="color: white;" class="grey-text text-lighten-4">Share your story.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 style="color: white;"  class="white-text">Links</h5>
                <ul>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
        </div>
        <div class="footer-copyright">
            <div class="container" style="color: white;">
            &reg; 2019 &#8226; MeetUp (Copy)
        </div>
    </div>
</footer>
