<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://localhost:3000/">
      <img width="100px" src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg">
    </a>
  </div>
  <!-- <a class="navbar-item" style="float:left;">
    Start a new group <br> 30% off
  </a> -->
  <a class="navbar-item navbar-end vl">
    Overview
  </a>
  <a class="navbar-item">
    Overview
  </a>
  <a class="navbar-item">
    Overview
  </a>
</nav>
