<hr style="color:white; margin-top: -10px;">
<<<<<<< HEAD
<nav class="navbar sticky" id="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://localhost:3000/">
      <img style="margin-left: 8px; max-height:44px;" src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg">
    </a>
  </div>
  <!-- <a class="navbar-item" style="float:left;">
=======

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="http://localhost:3000/">
            <img width="100px" height="44px;"src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg">
        </a>
    </div>
    {{!-- <a class="navbar-item" style="float:left;">
>>>>>>> 71c9040787e9c06589903994c568683692541310
    Start a new group <br> 30% off
    </a> --}}
    <div style="margin-right:5px;" class="navbar-item navbar-end">
        <p><a class="nav-link">Start a new group</a></p>
    </div>
    <div class="vl"></div>

    {{#if user}}
        <div class="navbar-item">
            <p class="nav-link-grey">{{user.firstName}} {{user.lastName}}</p>
        </div>

        <div class="navbar-item">
            <p><a class="nav-link-grey" href="/auth/logout">Logout</a></p>
        </div>
    {{else}}
        <div class="navbar-item">
            <p><a class="nav-link-grey" href="/auth/login">Log In</a></p>
        </div>
        <div class="navbar-item">
            <p><a class="nav-link-grey">Sign Up</a></p>
        </div>
    {{/if}}
</nav>

<hr>
