<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://localhost:3000/">
      <img width="100px" height="44px;"src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg">
    </a>
  </div>
  <!-- <a class="navbar-item" style="float:left;">
    Start a new group <br> 30% off
  </a> -->
  <div class="navbar-item navbar-end vl">
    <p><a class="nav-link-grey">Overview</a></p>
  </div>
  <div class="navbar-item">
    <p><a class="nav-link-grey">Overview</a></p>
  </div>
  <div class="navbar-item">
    <p><a class="nav-link-grey">Overview</a></p>
  </div>
</nav>
