<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:500|Rubik:700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://learn-a-skill.dev.meetuphq.io/favicon.ico">
    <title>Find your people | meetup</title>
</head>

<body>
    {{> _header}}

    <main>
        {{{body}}}
    </main>

    {{> _footer}}
</body>
</html>
