body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
    font-size: 25px;
}

footer {
    margin-top: 20px;
}

.story-text {
    height: 120px;
}

.dash-staus {
    text-transform: capitalize;
}

#delete-form {
    display: inline;
}

nav {
  background-color: #ffffff !important;
  height:50px;

}

.vl {
  border-left: thin solid #d7d2d5;
  padding-left: 10px;
}

.nav-link-grey {
  color: grey !important;
  font-size: 10pt;
}

.nav-link-grey:hover {
  color: #f65858 !important;
}

.member-home-bounds {
  position: relative;
  background-position: center center;
  background-size: cover;
  display: block;
  background-color: white;
  height:200px;
  width: 50%;
  float: left;
}

.hero-banner-header {
  color: dark-grey;
  font-size: 30pt;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Rubik', sans-serif;
  z-index: 1;
}

.attend-events-p {
  font-size: 14pt;
  width: 100%;
  font-family: 'roboto', sans-serif;
  position: relative;
  top: 70%;
  z-index: 1;
}

.hero-img {
  border-radius: 10px;
  height: 350px;
  float: right;
  position: relative;
  z-index: 0;
  width: auto;
}

.events-syd {
  color: dark-grey;
  font-size: 20pt;
  font-family: 'Rubik', sans-serif;
  position: relative;
  top: 170px;
  height: 900px;
}
