body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
    font-size: 25px;
}

footer {
    margin-top: 20px;
}

.story-text {
    height: 120px;
}

.dash-staus {
    text-transform: capitalize;
}

#delete-form {
    display: inline;
}

nav {
  background-color: #ffffff !important;
  height:50px;

}

.vl {
  border-left: thin solid #d7d2d5;
}

.nav-link-grey {
  color: grey !important;
  font-size: 10pt;
}

.nav-link-grey:hover {
  color: #f65858 !important;
}

.member-home-bounds {
  position: relative;
  background-position: center center;
  background-size: cover;
  margin-bottom: 44px;
  display: block;
  background-color: #00465d;
  height:150px;
}
