body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
    font-size: 25px;
}

footer {
    margin-top: 20px;
}

.story-text {
    height: 120px;
}

.dash-staus {
    text-transform: capitalize;
}

#delete-form {
    display: inline;
}

nav {
  background-color: #ffffff !important;
  height:50px;

}

.vl {
  border-left: thin solid #d7d2d5;
  padding-left: 10px;
}

.nav-link-grey {
  color: grey !important;
  font-size: 10pt;
}

.nav-link-grey:hover {
  color: #f65858 !important;
}

.member-home-bounds {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height:100%
  box-sizing: border-box;
  height:350px;
}

.attend-events {
  display: block;
  flex-basis: auto;
  padding-left: 0;
  margin-top: 100px;
  width: 100%;
  flex-grow: 0;
  min-width: 0;
}

.hero-banner-header {
  color: dark-grey;
  font-size: 30pt;
  font-family: 'Rubik', sans-serif;
}

.attend-events-p {
  font-size: 15.7pt;
  font-family: 'roboto', sans-serif;
}

.hero-img {
  margin-top: 15px;
  border-radius: 10px;
  height: 350px;
  display: block;
  flex-basis: auto;
  padding-left: 0;
  flex-grow: 1;
  min-width: 0;
  position: relative;

}

.events-syd {
  color: dark-grey;
  font-size: 20pt;
  font-family: 'Rubik', sans-serif;
  position: relative;
  top: 170px;
  height: 900px;
}
