<div class="container">
  <div class="member-home-bounds">
    <div class="columns">
      <div class="column">
        <div class="attend-events">
          <div class="hero-banner-header">
            <h1>The real world is calling</h1>
          </div>
          <div class="attend-events-p">
            <p>Attend local events to meet people, try something <br> new, or do more of what you love.</p>
            <button style="margin-top:15px;" class="button is-danger is-medium">Search</button>
          </div>
        </div>
      </div>
      <div class="column">
        <img class="hero-img" style="margin-right: 25px;" src="https://learn-a-skill.dev.meetuphq.io/static/media/KnittingAroundTown.655f6f4b.jpg"></img>
      </div>
    </div>
  </div>
  <div class="events-syd">
    <div class="e-syd-header" style="margin-top: 50px;">
      <h1>here are some events in sydney</h1>
    </div>
  </div>
  <div class="card-group">
    {{#each events}}
      <div class="e-syd-cards">
        <p>{{event.name}}</p>
      </div>
    {{/each}}
  </div>
</div>
