<div class="member-home-bounds">
</div>
<div class="container">
</div>

{{#unless user}}
  <a class="button is-danger" href="/auth/google"><i class="fa-google left"></i>Login with Google</a>
{{/unless}}

{{#if user}}
<div>
    {{events}}
</div>
{{/if}}