<div class="member-home-bounds">
</div>
<div class="container">
</div>
<!-- {{#if user}}
{{else}}
  <a class="button is-danger" href="/auth/google"><i class="fa-google left"></i>Login with Google</a>
{{/if}} -->
