<div class="container form">

    <form action="/groups/new" method="POST">

        <h1 class="heading">New Group</h1>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" name="name" type="text" placeholder="Event Name">
                    </div>
                </div>
            </div>
        </div>


        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" name="purpose" placeholder="Purpose"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" name="photo" type="text" placeholder="Photo (URL)">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">

            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-danger">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
